<% include ../partials/_header %>
 
        <!--====== App Content ======-->
        <div class="app-content">

            <!--====== Section 1    col-lg-3 col-md-4 col-sm-12 ======-->
            <div class="u-s-p-y-90">
                <div class="container">
                    <div class="row">
                       
                        <div class="col-md-10 ">
                                <h3>¿QUÉ ESTILO TE DEFINE?</h3>
                                <br>
                                <p> Por favor elige una opción </p>
                                <br>    
                                <p> </p> 
                                
                                
                                <div class="shop-p__collection">
                                        <div class="row is-list-active">
                                <div class="col-md-4" style="margin-top: 44px">
                                        <div class="product-m">
                                            <div class="product-m__thumb">

                                                <a class="aspect aspect--bg-grey aspect--square u-d-block" href="/clasico-caras-hombre">

                                                    <img class="aspect__img" src="https://cdn.shopify.com/s/files/1/0078/6441/8401/files/hombre-clasico.png" alt="">
                                                </a>
                                                
                                            <div class="product-m__content">
                                                <div class="product-m__category">

                                                    <h3 >Clásico</h3 >
                                                </div>
                                         
                                               
                                            </div>

                                           
                                        </div>
                                    </div>




                                    <div class="col-md-4">
                                            <div class="product-m">
                                                <div class="product-m__thumb">
    
                                                    <a class="aspect aspect--bg-grey aspect--square u-d-block" href="/casual-caras-hombre">
    
                                                        <img class="aspect__img" src="https://cdn.shopify.com/s/files/1/0078/6441/8401/files/hombre-casual.png" alt="">
                                                    </a>
                                                    
                                                <div class="product-m__content">
                                                    <div class="product-m__category">
    
                                                        <h3 >Casual</h3 >
                                                    </div>
                                             
                                                   
                                                </div>
    
                                               
                                            </div>
                                        </div>



                                  
                                    <div class="col-md-4">
                                            <div class="product-m">
                                                <div class="product-m__thumb">
    
                                                    <a class="aspect aspect--bg-grey aspect--square u-d-block" href="/moda-caras-hombre">
    
                                                        <img class="aspect__img" src="https://cdn.shopify.com/s/files/1/0078/6441/8401/files/hombre-moda.png" alt="">
                                                    </a>
                                                   
                                                <div class="product-m__content">
                                                    <div class="product-m__category">
    
                                                        <h3 >A la moda</h3 ></div>
                                                   
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                           

                             
       
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section 1 ======-->
        </div>
        <!--====== End - App Content ======-->

 
        <br><br><br><br><br><br>

<% include ../partials/_footer %>







