<% include ../partials/_header %>
 
        <!--====== App Content ======-->
        <div class="app-content">

            <!--====== Section 1    col-lg-3 col-md-4 col-sm-12 ======-->
            <div class="u-s-p-y-90">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="blog-w-master">
                               
                                <div class="u-s-m-b-60">
                                    <div class="blog-w">

                                        <span class="blog-w__h">CATEGORIAS</span>
                                        <ul class="blog-w__list">
                                            <li>

                                                <a href="blog-left-sidebar.html">Corporate</a></li>
                                            <li>

                                                <a href="blog-left-sidebar.html">Creative</a></li>
                                            <li>

                                                <a href="blog-left-sidebar.html">Design</a></li>
                                            <li>

                                                <a href="blog-left-sidebar.html">News</a></li>
                                            <li>

                                                <a href="blog-left-sidebar.html">Photography</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 ">
                                <h3>Cómo elegir el lente perfecto para tu cara </h3>
                                <br>
                                <p>Elegir lentes es dificil, especialmente cuando no sabes cuáles
                                     son los que más te favorecen. Quizás encuentres un modelo que 
                                     te guste mucho, pero al probártelo te das cuenta que hace que 
                                     tu nariz se vea muy prominente, o te acentúa un rasgo poco 
                                     favorable</p>
                                <br>    
                                <p>¿Te ha pasado? La clave en la búsqueda de los lentes perfectos para ti, se encuentra en contestar 4 preguntas. </p> 
                                <br>    
                                <p>Porque no, no es lo mismo tener la cara ovalada que cuadrada, vestirse de forma clásica o siempre a la moda. Cada cara tiene distintas características que buscarás destacar o disimular. 
                                </p>   col-lg-5 col-md-6 col-sm-6  
                                
                                
                                <div class="shop-p__collection">
                                        <div class="row is-list-active">
                                <div class="col-md-4" style="margin-top: 44px">
                                        <div class="product-m">
                                            <div class="product-m__thumb">

                                                <a class="aspect aspect--bg-grey aspect--square u-d-block" href="/lentes-adecuados-mujer">

                                                    <img class="aspect__img" src="https://cdn.shopify.com/s/files/1/0078/6441/8401/files/mujer.png" alt="">
                                                </a>
                                                
                                            <div class="product-m__content">
                                                <div class="product-m__category">

                                                    <h3>Mujer</h3>
                                                </div>
                                         
                                               
                                            </div>

                                           
                                        </div>
                                    </div>



                                  
                                    <div class="col-md-4">
                                            <div class="product-m">
                                                <div class="product-m__thumb">
    
                                                    <a class="aspect aspect--bg-grey aspect--square u-d-block" href="/lentes-adecuados-hombre">
    
                                                        <img class="aspect__img" src="https://cdn.shopify.com/s/files/1/0078/6441/8401/files/hombre.png" alt="">
                                                    </a>
                                                   
                                                <div class="product-m__content">
                                                    <div class="product-m__category">
    
                                                        <h3>Hombre</h3></div>
                                                   
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                           

                             
       
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section 1 ======-->
        </div>
        <!--====== End - App Content ======-->

 

<% include ../partials/_footer %>
