<% include partials/_header %>


 
<!--====== App Content ======-->
<div class="app-content">

    <!--====== Section 1 ======-->
    <div class="u-s-p-y-90">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-12 col-md-8 col-sm-12">
                    <div class="bp bp--img u-s-m-b-30">
                        <div class="bp__wrap">
                            <div class="bp__thumbnaill">

                                    <span class="bp__h1">

                                            <a> <u>Métodos de Pago y Envío</u></a>
                                            <br><br>
                                            <p class="bp__p">
                                                
                                                Por el momento tendremos hasta 6 cuotas sin interés. En cuánto exista la posibilidad de agregar más cuotas, esta información será avisada en nuestra página. 
                                            </p><br>
                                            <h5> 
                                                Vías de pago: 
                                            </h5><br>
                                            <p>   
                                                A través de Mercado Pago con todas las tarjetas de débito y crédito o trasferencia bancaria. 
                                            </p><br>
                                            <h5>    
                                                $1.500 DE DESCUENTO EN: 
                                            </h5><br>
                                            <p>    
                                                Transferencia bancaria o débito. 
                                                En estos casos, por favor contactate por nuestro WhatsApp y avisanos que querés pagar con alguno de estos medios y te pasamos un link de pago con el descuento correspondiente. 
                                            </p><br>   
                                            <p>   
                                                Si en cliente no leyó este apartado, el aviso en nuestra portada o lo lee luego de hacer una compra por la página, esos $1500 no pueden ser reintegrados. 
                                            </p><br>   
                                            <h5>    
                                                Correo a domicilio: 
                                            </h5><br>   
                                            <p>     
                                                Interior del país y Gran Buenos Aires fuera de AMBA: Entre 3 y 5 dias hábiles. 
                                            </p><br>   
                                            <p>    
                                                Correo dentro de AMBA. <br>
                                                Capital y provincia de Buenos Aires. <br>
                                                Entrega en 24-48 hs.
                                            </p>
                                     </span>
                                     <br>

                                <!--====== Image Code ======-->

                           

                               
                                <!--====== End - Image Code ======-->

                                


                            </div>
                           
                                

                                 

                    

                                 <div class="blog-t-w">

             
                                </div>
                                <p class="bp__p"> 
                                </p>
                                <br>
                                <p class="bp__p">    </p>
                                <br>
                                <p class="bp__p">    </p>
                                <br>
                                 
                                <div class="gl-l-r">
                                    
                                    <ul class="bp__social-list">
                                   
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
               
                  
                   
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section 1 ======-->
</div>
<!--====== End - App Content ======-->













<% include partials/_footer %>