





<% include partials/_header %>


 
<!--====== App Content ======-->
<div class="app-content">

    <!--====== Section 1 ======-->
    <div class="u-s-p-y-90">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-12 col-md-8 col-sm-12">
                    <div class="bp bp--img u-s-m-b-30">
                        <div class="bp__wrap">
                            <div class="bp__thumbnaill">

                                    <span class="bp__h1">

                                            <a> <u>CÓMO SABER SI ES ORIGINAL</u></a>
                                            <br><br>
                                            <p class="bp__p">   
                                            </p>
                                     </span>
                                     <br>

                                <!--====== Image Code ======-->

                                <a class="aspect aspect--bg-grey aspect--1366-768 u-d-block"  >

                                    <img class="aspect__img" src="https://res.cloudinary.com/dsk4fft6r/image/upload/v1619708645/WhatsApp_Image_2021-04-29_at_12.02.54_vnj6hj.jpg" alt="">
                                </a>

                                <a class="aspect aspect--bg-grey aspect--1366-768 u-d-block"  >

                                    <img class="aspect__img" src="https://res.cloudinary.com/dsk4fft6r/image/upload/v1619710205/WhatsApp_Image_2021-04-29_at_12.29.03_2_hhmj62.jpg" alt="">
                                </a>

                                <a class="aspect aspect--bg-grey aspect--1366-768 u-d-block"  >

                                    <img class="aspect__img" src="https://res.cloudinary.com/dsk4fft6r/image/upload/v1619710206/WhatsApp_Image_2021-04-29_at_12.29.03_bieicd.jpg" alt="">
                                </a>


                                <a class="aspect aspect--bg-grey aspect--1366-768 u-d-block"  >

                                    <img class="aspect__img" src="https://res.cloudinary.com/dsk4fft6r/image/upload/v1619710205/WhatsApp_Image_2021-04-29_at_12.29.03_1_xjkqik.jpg" alt="">
                                </a>

                               
                                <!--====== End - Image Code ======-->

                                


                            </div>
                           
                                

                                 

                    

                                 <div class="blog-t-w">

             
                                </div>
                                <p class="bp__p"> 
                                </p>
                                <br>
                                <p class="bp__p">    </p>
                                <br>
                                <p class="bp__p">     </p>
                                <br>
                                 
                                <div class="gl-l-r">
                                    
                                    <ul class="bp__social-list">
                                   
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
               
                  
                   
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section 1 ======-->
</div>
<!--====== End - App Content ======-->













<% include partials/_footer %>