<% include partials/_header %>


 
        <!--====== App Content ======-->
        <div class="app-content">

            <!--====== Section 1 ======-->
            <div class="u-s-p-y-90">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="blog-w-master">
                                <div class="u-s-m-b-60">
                                    <div class="blog-w">

                                      
                                    </div>
                                </div>
                                <div class="u-s-m-b-60">
                                    <div class="blog-w">

                                        <span class="blog-w__h">CATEGORIES</span>
                                        <ul class="blog-w__list">
                                            <li>

                                                <a href="blog-left-sidebar.html">Corporate</a></li>
                                            <li>

                                                <a href="blog-left-sidebar.html">Creative</a></li>
                                            <li>

                                                <a href="blog-left-sidebar.html">Design</a></li>
                                            <li>

                                                <a href="blog-left-sidebar.html">News</a></li>
                                            <li>

                                                <a href="blog-left-sidebar.html">Photography</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="u-s-m-b-60">
                                    <div class="blog-w">

                                        <span class="blog-w__h"> </span>
                                        <ul class="blog-w__list">
                                          
                                        </ul>
                                    </div>
                                </div>
                                <div class="u-s-m-b-60">
                                    <div class="blog-w">

                                        <span class="blog-w__h"> </span>
                                        <ul class="blog-w__b-l">
                                            <li>
                                              
                                            </li>
                                            <li>
                                              
                                            </li>
                                            <li>
                                           
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="u-s-m-b-60">
                                    <div class="blog-w">

                                        <span class="blog-w__h"> </span>
                                        <ul class="blog-w__b-l-2">
                                            <li>
                                             
                                            </li>
                                            <li>
                                    
                                            </li>
                                            <li>
                                   
                                            </li>
                                            <li>
                                                <div class="b-l__block">

                                    
                                                    </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div>
                                    <div class="blog-w">

                                        <span class="blog-w__h"> </span>
                                        <div class="blog-t-w">

                                         
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-8 col-sm-12">
                            <div class="bp bp--img u-s-m-b-30">
                                <div class="bp__wrap">
                                    <div class="bp__thumbnail">

                                        <!--====== Image Code ======-->

                                        <a class="aspect aspect--bg-grey aspect--1366-768 u-d-block" href="blog-detail.html">

                                            <img class="aspect__img" src="https://res.cloudinary.com/dsk4fft6r/image/upload/v1616160956/banner_fabricante_X2_X4_etc_haowep.jpg" alt=""></a>
                                        <!--====== End - Image Code ======-->
                                    </div>
                                    <div class="bp__info-wrap">
                                        <div class="bp__stat">

                                            <span class="bp__stat-wrap">

                                                <span class="bp__publish-date">

                                                    <a href="blog-left-sidebar.html">

                                                        <span>25 February 2018</span></a></span></span>

                                            <span class="bp__stat-wrap">

                                                <span class="bp__author">

                                                    <a href="blog-left-sidebar.html">Dayle</a></span></span>

                                            <span class="bp__stat-wrap">

                                                <span class="bp__comment">

                                                    <a href="blog-detail.html"><i class="far fa-comments u-s-m-r-4"></i>

                                                        <span>8</span></a></span></span>

                                            <span class="bp__stat-wrap">

                                                <span class="bp__category">

                                                 
                                                </div>

                                        <span class="bp__h1">

                                            <a href="blog-detail.html">Life is an extraordinary Adventure</a></span>

                                        <span class="bp__h2">A post with the image</span>
                                        <div class="blog-t-w">

                                            <a class="gl-tag btn--e-transparent-hover-brand-b-2" href="blog-left-sidebar.html">Travel</a>

                                            <a class="gl-tag btn--e-transparent-hover-brand-b-2" href="blog-left-sidebar.html">Culture</a>

                                            <a class="gl-tag btn--e-transparent-hover-brand-b-2" href="blog-left-sidebar.html">Place</a></div>
                                        <p class="bp__p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                                        <div class="gl-l-r">
                                            <div>

                                                <span class="bp__read-more">

                                                    <a href="blog-detail.html">READ MORE</a></span></div>
                                            <ul class="bp__social-list">
                                                <li>

                                                    <a class="s-fb--color" href="#"><i class="fab fa-facebook-f"></i></a></li>
                                                <li>

                                                    <a class="s-tw--color" href="#"><i class="fab fa-twitter"></i></a></li>
                                                <li>

                                                    <a class="s-insta--color" href="#"><i class="fab fa-instagram"></i></a></li>
                                                <li>

                                                    <a class="s-wa--color" href="#"><i class="fab fa-whatsapp"></i></a></li>
                                                <li>

                                                    <a class="s-gplus--color" href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       
                          
                           
                                        </div>
                                    </div>
                                </div>
                            </div>
       
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section 1 ======-->
        </div>
        <!--====== End - App Content ======-->













<% include partials/_footer %>