<% include partials/_header %>


 
<!--====== App Content ======-->
<div class="app-content">

    <!--====== Section 1 ======-->
    <div class="u-s-p-y-90">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-12 col-md-8 col-sm-12">
                    <div class="bp bp--img u-s-m-b-30">
                        <div class="bp__wrap">
                            <div class="bp__thumbnaill">

                                    <span class="bp__h1">

                                            <a> <u>POLÍTICA Y LEGALES </u></a>
                                            <br><br>
                                            <p class="bp__p">
                                                    

                                                    <h5> <u>Cambios y Devoluciones</u> </h5> <br>
                                                    
                                                 <p>   En Pogopop sabemos que elegir el modelo a través de una página web es algo difícil, por eso, hicimos que las devoluciones y los cambios sean muy fáciles.
                                                    
                                                    Podrás obtener el reintegro de tu dinero o cambiarlo por otro producto. Para hacer un cambio o devolución, solo avísanos por WhatsApp para concretar la devolución. </p>
                                                    <br>
                                                    <h5> <u>Política de reembolso </u> </h5> <br>
                                                    
                                                    <p> El reembolso de dinero se produce únicamente cuando el producto tiene fallas de fábrica y el cliente no desea realizar un cambio por otro producto.
                                                    
                                                    En general nuestros productos son verificados antes de salir al correo, pero si de todas formas sucede un incidente durante el periodo de envío y el producto tiene una falla puede ser devuelto y pedir reembolso del dinero menos retenciones de plataforma digital. 
                                                    
                                                    Si el/la cliente desea cambiar un producto por fallas, debe tener en cuenta que debe abonar tanto el el envío del producto que devuelve como del segundo producto que eligió. 
                                                    
                                                    En ambos casos, tanto para reembolso como para cambio, el tiempo de aviso es de 24 horas desde que recibió el producto sin excepción. </p>
                                                    <br>
                                                    <h5> <u>Legales</u> </h5><br>
                                                    
                                                    <p>  El logo PogoPop es propiedad exclusiva y marca registrada. Esta prohibido copiar, reproducir o utilizar sin consentimiento expreso de los propietarios de la misma. 
                                                    
                                                    Las imágenes de todos los productos son de terceros, ninguna de ellas  corresponden a Pogopop y solo son utilizados como medio de exposición.</p><br>
                                            </p>
                                     </span>
                                     <br>

                                <!--====== Image Code ======-->

                               

                               
                                <!--====== End - Image Code ======-->

                                


                            </div>
                           
                                

                                 

                    

                                 <div class="blog-t-w">

             
                                </div>
                                <p class="bp__p"> 
                                </p>
                                <br>
                                <p class="bp__p"> </p>
                                <br>
                                <p class="bp__p">  </p>
                                <br>
                                 
                                <div class="gl-l-r">
                                    
                                    <ul class="bp__social-list">
                                   
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
               
                  
                   
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section 1 ======-->
</div>
<!--====== End - App Content ======-->













<% include partials/_footer %>