<% include partials/_header %>


 
        <!--====== App Content ======-->
        <div class="app-content">

            <!--====== Section 1 ======-->
            <div class="u-s-p-y-90">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="blog-w-master">
                                <div class="u-s-m-b-60">
                                    <div class="blog-w">

                                      
                                    </div>
                                </div>
                                <div class="u-s-m-b-60">
                                    <div class="blog-w">

                                        <span class="blog-w__h">CATEGORÍAS</span>
                                        <ul class="blog-w__list">
                                             

                                                <li>

                                                    <a href="/aviator/1">Aviator</a>

                                                 </li>
                                                <li>

                                                    <a href="/blaze/1">Blaze</a>

                                                    </li>
                                                <li>

                                                    <a href="/clubmaster/1">Clubmaster</a>

                                                    </li>
                                                <li>

                                                    <a href="/clubround/1">Clubround</a>

                                                     
                                                </li>
                                                <li>

                                                    <a href="/cats-gabsty/1">Cats/Gabsty</a>

                                                      
                                                </li>

                                                <li>

                                                    <a href="/cateye/1">Cat eye</a>

                                                     
                                                </li>

                                                <li>

                                                    <a href="/chris-cocqpit/1">Chris/Cocqpit</a>

                                                     
                                                </li>

                                                <li>

                                                    <a href="/erika/1">Erika</a>

                                                     
                                                </li>

                                                
                                                <li>

                                                    <a href="/geometricos/1">Geométricos</a>

                                                    
                                                </li>


                                                
                                                <li>

                                                    <a href="/general/1">General</a>

                                                   
                                                </li>


                                                
                                                <li>

                                                    <a href="/highstreet/1">High Street</a>

                                                     
                                                </li>

                                                <li>

                                                    <a href="/justin/1">Justin</a>

                                                     
                                                </li>

                                                <li>

                                                    <a href="/jackieohh/1">Jackie Ohh</a>

                                                     
                                                </li>


                                                <li>

                                                    <a href="/jajo-round/1">Ja Jo/Round</a>

                                                    
                                                </li>


                                                <li>

                                                    <a href="/square/1">Square</a>

                                                    
                                                </li>

                                                <li>

                                                    <a href="/wayfarer/1">Wayfarer</a>

                                                    
                                                </li>

                                                <li>

                                                    <a href="/wings/1">Wings</a>

                                                     
                                                </li>   
                                        </ul>
                                    </div>
                                </div>
                                <div class="u-s-m-b-60">
                                    <div class="blog-w">

                                        <span class="blog-w__h"> </span>
                                        <ul class="blog-w__list">
                                          
                                        </ul>
                                    </div>
                                </div>
                                <div class="u-s-m-b-60">
                                    <div class="blog-w">

                                        <span class="blog-w__h"> </span>
                                        <ul class="blog-w__b-l">
                                            <li>
                                              
                                            </li>
                                            <li>
                                              
                                            </li>
                                            <li>
                                           
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="u-s-m-b-60">
                                    <div class="blog-w">

                                        <span class="blog-w__h"> </span>
                                        <ul class="blog-w__b-l-2">
                                            <li>
                                             
                                            </li>
                                            <li>
                                    
                                            </li>
                                            <li>
                                   
                                            </li>
                                            <li>
                                                <div class="b-l__block">

                                    
                                                    </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div>
                                    <div class="blog-w">

                                        <span class="blog-w__h"> </span>
                                        <div class="blog-t-w">

                                         
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-8 col-sm-12">
                            <div class="bp bp--img u-s-m-b-30">
                                <div class="bp__wrap">
                                    <div class="bp__thumbnaill">

                                            <span class="bp__h1">

                                                    <a> <u>TU VISIÓN A TRAVÉS DE UNOS RAY BAN</u></a>
                                             </span>
                                             <br>

                                        <!--====== Image Code ======-->

                                        <a class="aspect aspect--bg-grey aspect--1366-768 u-d-block"  >

                                            <img class="aspect__img" src="https://res.cloudinary.com/dsk4fft6r/image/upload/v1618072620/WhatsApp_Image_2021-04-10_at_13.36.14_pr77wr.jpg" alt="">
                                        </a>

                                       
                                        <!--====== End - Image Code ======-->

                                        


                                    </div>
                                   
                                        

                                         

                            

                                         <div class="blog-t-w">

                     
                                        </div>
                                        <p class="bp__p">1. Toma cualquier tarjeta que tengas en mano, ya que todas tienen el mismo tamaño.</p>
                                        <br>
                                        <p class="bp__p">2. Ponte delante de un espejo y coloca el teléfono en un sitio estable con la cámara de selfie conectada enfocándote y coloca la tarjeta en el puente de la nariz y debajo de las cejas.</p>
                                        <br>
                                        <p class="bp__p">3. Si el borde de la tarjeta sale por fuera del borde de tu ojo, entonces llevas una talla de S. (Talla S)</p>
                                        <br>
                                        <p class="bp__p">4. Si el borde de la tarjeta termina por la parte externa del borde de tu ojo, entonces llevas una talla M. (Talla M)</p>
                                        <br>
                                        <p class="bp__p">5. Si el borde de la tarjeta termina antes de la parte externa de tu ojo, entonces llevás una talla L. (Talla L)</p>

                                        <div class="gl-l-r">
                                            
                                            <ul class="bp__social-list">
                                           
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       
                          
                           
                                        </div>
                                    </div>
                                </div>
                            </div>
       
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section 1 ======-->
        </div>
        <!--====== End - App Content ======-->













<% include partials/_footer %>