<% include ../partials/_header %>

<div class="containerr">
    <form action="/forgotPassword" method="POST">
       <h2 class="text-center mx-auto">Ingrese su Email </h2>
       <h3></h3>
       <hr id="top-hr">
      
        <input type="email" class="ui"  name="email"  placeholder="&#xf0e0 Email">
        <input type="submit" class="ui" value="Enviar" id="log">       
    </form>
        
        

  </div>


<% include ../partials/_footer %>
